openapi: 3.0.0
info:
  title: Visla RESTful OPEN APIs
  description: Visla APIs specification managed by SpringFox3
  version: 1.0.0
  contact:
    name: api team
    email: team@visla.us
host: openapi.visla.us
basePath: /
tags:
  - name: Visla Open Api
    description: Open Api Clip Controller
paths:
  /openapi/v1/clip/{clipUuid}/get-download-link:
    get:
      tags:
        - Visla Open Api
      summary: get clip download link
      operationId: getClipDownloadLinkUsingGET_3
      produces:
        - '*/*'
      parameters:
        - name: clipUuid
          in: path
          description: clip uuid
          required: true
          type: string
        - name: completion_webhook
          in: query
          description: export video completion webhook
          required: false
          type: string
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1745911132465'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«ClipDownloadVo»'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /openapi/v1/clip/{clipUuid}/info:
    get:
      tags:
        - Visla Open Api
      summary: get clip info
      operationId: getClipUsingGET_3
      produces:
        - '*/*'
      parameters:
        - name: clipUuid
          in: path
          description: clip uuid
          required: true
          type: string
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1745911132465'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«OpenClipVo»'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /openapi/v1/clip/{clipUuid}/transcript:
    get:
      tags:
        - Visla Open Api
      summary: get clip transcript
      operationId: getClipTranscriptUsingGET_3
      produces:
        - '*/*'
      parameters:
        - name: clipUuid
          in: path
          description: clip uuid
          required: true
          type: string
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1745911132465'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«ClipTranscriptVo»'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: true
  /openapi/v1/folder/{folderUuid}/add-clip:
    post:
      tags:
        - Visla Open Api
      summary: add new clip to folder
      operationId: addClipUsingPOST_3
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: folderUuid
          in: path
          description: folder uuid
          required: true
          type: string
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - in: body
          name: reqBody
          description: reqBody
          required: true
          schema:
            $ref: '#/definitions/OpenAddClipToSpaceReqBody'
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1745911132465'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«OpenClipVo»'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /openapi/v1/folder/{folderUuid}/list-clip:
    get:
      tags:
        - Visla Open Api
      summary: list clips in folder
      operationId: listClipUsingGET_5
      produces:
        - '*/*'
      parameters:
        - name: folderUuid
          in: path
          description: folder uuid
          required: true
          type: string
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: limit
          in: query
          description: The optional page size limit,default=2000,max=2000
          required: false
          type: integer
          maximum: 2000
          exclusiveMaximum: false
          format: int32
          x-example: 10
        - name: mediaType
          in: query
          description: video audio image
          required: false
          type: array
          items:
            type: string
            enum:
              - all
              - audio
              - image
              - video
          collectionFormat: multi
          enum:
            - all
            - audio
            - image
            - video
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - name: offset
          in: query
          description: The optional page offset, the default value is 0.
          required: false
          type: integer
          minimum: 0
          exclusiveMinimum: false
          format: int32
          x-example: 0
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: sortBy
          in: query
          description: The optional Sort orders, ie. name:asc,createdAt:desc
          required: false
          type: array
          items:
            type: string
          collectionFormat: multi
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1745911132465'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«PageData«OpenClipVo»»'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /openapi/v1/folder/{folderUuid}/list-project:
    get:
      tags:
        - Visla Open Api
      summary: list projects in folder
      operationId: listProjectUsingGET_2
      produces:
        - '*/*'
      parameters:
        - name: folderUuid
          in: path
          description: folder uuid
          required: true
          type: string
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: limit
          in: query
          description: The optional page size limit,default=2000,max=2000
          required: false
          type: integer
          maximum: 2000
          exclusiveMaximum: false
          format: int32
          x-example: 10
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - name: offset
          in: query
          description: The optional page offset, the default value is 0.
          required: false
          type: integer
          minimum: 0
          exclusiveMinimum: false
          format: int32
          x-example: 0
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: sortBy
          in: query
          description: The optional Sort orders, ie. name:asc,createdAt:desc
          required: false
          type: array
          items:
            type: string
          collectionFormat: multi
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1745911132465'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«PageData«OpenAgentProjectVo»»'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /openapi/v1/project/add-audio-project:
    post:
      tags:
        - Visla Open Api
      summary: add a blank audio(audio-to-video) project
      operationId: addAgentProjectToTeamspaceUsingPOST_3
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - in: body
          name: reqBody
          description: add project request body
          required: true
          schema:
            $ref: '#/definitions/OpenApiScriptToVideoReqBody'
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1745911132465'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«OpenAgentProjectVo»'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /openapi/v1/project/create-video-by-url:
    post:
      tags:
        - Visla Open Api
      summary: Create a blog-2-video project by url
      operationId: createVideoByUrlUsingPOST_7
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - in: body
          name: reqBody
          description: reqBody
          required: true
          schema:
            $ref: '#/definitions/OpenApiScriptToVideoReqBody'
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1745911132465'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«OpenAgentProjectVo»'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /openapi/v1/project/script-to-video:
    post:
      tags:
        - Visla Open Api
      summary: Create a video from script
      operationId: scriptToVideoUsingPOST_8
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - in: body
          name: reqBody
          description: reqBody
          required: true
          schema:
            $ref: '#/definitions/OpenApiScriptToVideoReqBody'
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1745911132465'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«OpenAgentProjectVo»'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /openapi/v1/project/{projectUuid}/add-uploaded-media:
    post:
      tags:
        - Visla Open Api
      summary: Add the uploaded asset to project
      operationId: addUploadedMediaUsingPOST_2
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: body
          description: The Request Body
          required: true
          schema:
            $ref: '#/definitions/OpenResourceUploadReqBody'
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - name: projectUuid
          in: path
          description: The Project UUID
          required: true
          type: string
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1745911132465'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«AgentProjectMediaVo»'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /openapi/v1/project/{projectUuid}/export-video:
    post:
      tags:
        - Visla Open Api
      summary: Export project(video) as a clip to my teamspace
      operationId: exportProjectUsingPOST_5
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - name: projectUuid
          in: path
          description: project uuid
          required: true
          type: string
        - in: body
          name: reqBody
          description: export video - webhooku
          required: false
          schema:
            $ref: '#/definitions/OpenApiExportVideoReqBody'
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1745911132465'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«OpenClipVo»'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /openapi/v1/project/{projectUuid}/generate-video:
    post:
      tags:
        - Visla Open Api
      summary: Generate video
      operationId: generateVideoUsingPOST_3
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - name: projectUuid
          in: path
          description: Project UUID
          required: true
          type: string
        - in: body
          name: reqBody
          description: reqBody
          required: false
          schema:
            $ref: '#/definitions/OpenProjectGenerateReqBody'
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1745911132465'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«OpenAgentProjectVo»'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /openapi/v1/project/{projectUuid}/get-consumed-credit:
    get:
      tags:
        - Visla Open Api
      summary: Get consumed credit of a project
      operationId: getProjectConsumedCreditUsingGET_2
      produces:
        - '*/*'
      parameters:
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - name: projectUuid
          in: path
          description: Project UUID
          required: true
          type: string
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1745911132465'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«int»'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /openapi/v1/project/{projectUuid}/get-media-list:
    get:
      tags:
        - Visla Open Api
      summary: get uploaded media info list
      operationId: listAgentProjectMediasUsingGET_1
      produces:
        - '*/*'
      parameters:
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - name: projectUuid
          in: path
          description: The Project UUID
          required: true
          type: string
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1745911132465'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«List«AgentProjectMediaVo»»'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /openapi/v1/project/{projectUuid}/get-upload-url:
    get:
      tags:
        - Visla Open Api
      summary: get project upload url to upload
      operationId: getUploadUrlUsingGET_6
      produces:
        - '*/*'
      parameters:
        - name: fileSuffix
          in: query
          description: fileSuffix
          required: true
          type: string
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - name: projectUuid
          in: path
          description: The Project UUID
          required: true
          type: string
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1745911132465'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«OpenUploadResourceParamVo»'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /openapi/v1/project/{projectUuid}/info:
    get:
      tags:
        - Visla Open Api
      summary: Get project detail information
      operationId: getProjectDetailUsingGET_3
      produces:
        - '*/*'
      parameters:
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - name: projectUuid
          in: path
          description: Project UUID
          required: true
          type: string
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1745911132465'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«OpenAgentProjectVo»'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /openapi/v1/teamspace/{teamspaceUuid}/add-audio-project:
    post:
      tags:
        - Visla Open Api
      summary: add a blank audio(audio-to-video) project in specific teamspace
      operationId: addAgentProjectToTeamspaceUsingPOST_4
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - in: body
          name: reqBody
          description: reqBody
          required: true
          schema:
            $ref: '#/definitions/OpenApiScriptToVideoReqBody'
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: teamspaceUuid
          in: path
          description: teamspaceUuid
          required: true
          type: string
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1745911132465'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«OpenAgentProjectVo»'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /openapi/v1/teamspace/{teamspaceUuid}/add-clip:
    post:
      tags:
        - Visla Open Api
      summary: add new clip to teamspace
      operationId: addClipToTeamspaceUsingPOST_3
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - in: body
          name: reqBody
          description: reqBody
          required: true
          schema:
            $ref: '#/definitions/OpenAddClipToSpaceReqBody'
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: teamspaceUuid
          in: path
          description: teamspace uuid
          required: true
          type: string
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1745911132465'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«OpenClipVo»'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /openapi/v1/teamspace/{teamspaceUuid}/create-video-by-url:
    post:
      tags:
        - Visla Open Api
      summary: Create a blog-2-video project by url in specific teamspace
      operationId: createVideoByUrlUsingPOST_8
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - in: body
          name: reqBody
          description: reqBody
          required: true
          schema:
            $ref: '#/definitions/OpenApiScriptToVideoReqBody'
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: teamspaceUuid
          in: path
          description: teamspaceUuid
          required: true
          type: string
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1745911132465'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«OpenAgentProjectVo»'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /openapi/v1/teamspace/{teamspaceUuid}/get-clip-upload-url:
    get:
      tags:
        - Visla Open Api
      summary: get clip file upload url
      operationId: getClipUploadUrlUsingGET_2
      produces:
        - '*/*'
      parameters:
        - name: fileSuffix
          in: query
          description: fileSuffix
          required: true
          type: string
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: teamspaceUuid
          in: path
          description: teamspaceUuid
          required: true
          type: string
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1745911132465'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«Map«string,object»»'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /openapi/v1/teamspace/{teamspaceUuid}/info:
    get:
      tags:
        - Visla Open Api
      summary: get teamspace info
      operationId: getTeamspaceInfoUsingGET_3
      produces:
        - '*/*'
      parameters:
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: teamspaceUuid
          in: path
          description: teamspace uuid
          required: true
          type: string
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1745911132465'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«OpenTeamspaceVo»'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /openapi/v1/teamspace/{teamspaceUuid}/list-clip:
    get:
      tags:
        - Visla Open Api
      summary: list clips in teamspace
      operationId: listTeamspaceClipUsingGET_5
      produces:
        - '*/*'
      parameters:
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: limit
          in: query
          description: The optional page size limit,default=2000,max=2000
          required: false
          type: integer
          maximum: 2000
          exclusiveMaximum: false
          format: int32
          x-example: 10
        - name: mediaType
          in: query
          description: video audio image
          required: false
          type: array
          items:
            type: string
            enum:
              - all
              - audio
              - image
              - video
          collectionFormat: multi
          enum:
            - all
            - audio
            - image
            - video
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - name: offset
          in: query
          description: The optional page offset, the default value is 0.
          required: false
          type: integer
          minimum: 0
          exclusiveMinimum: false
          format: int32
          x-example: 0
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: sortBy
          in: query
          description: The optional Sort orders, ie. name:asc,createdAt:desc
          required: false
          type: array
          items:
            type: string
          collectionFormat: multi
        - name: teamspaceUuid
          in: path
          description: teamspace uuid
          required: true
          type: string
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1745911132465'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«PageData«OpenClipVo»»'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /openapi/v1/teamspace/{teamspaceUuid}/list-project:
    get:
      tags:
        - Visla Open Api
      summary: list projects in teamspace
      operationId: listTeamspaceProjectUsingGET_5
      produces:
        - '*/*'
      parameters:
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: limit
          in: query
          description: The optional page size limit,default=2000,max=2000
          required: false
          type: integer
          maximum: 2000
          exclusiveMaximum: false
          format: int32
          x-example: 10
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - name: offset
          in: query
          description: The optional page offset, the default value is 0.
          required: false
          type: integer
          minimum: 0
          exclusiveMinimum: false
          format: int32
          x-example: 0
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: sortBy
          in: query
          description: The optional Sort orders, ie. name:asc,createdAt:desc
          required: false
          type: array
          items:
            type: string
          collectionFormat: multi
        - name: teamspaceUuid
          in: path
          description: teamspace uuid
          required: true
          type: string
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1745911132465'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«PageData«OpenAgentProjectVo»»'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /openapi/v1/teamspace/{teamspaceUuid}/list-stock:
    get:
      tags:
        - Visla Open Api
      summary: list stocks in teamspace
      operationId: listTeamspaceStockUsingGET_3
      produces:
        - '*/*'
      parameters:
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: limit
          in: query
          description: The optional page size limit,default=2000,max=2000
          required: false
          type: integer
          maximum: 2000
          exclusiveMaximum: false
          format: int32
          x-example: 10
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - name: offset
          in: query
          description: The optional page offset, the default value is 0.
          required: false
          type: integer
          minimum: 0
          exclusiveMinimum: false
          format: int32
          x-example: 0
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: sortBy
          in: query
          description: The optional Sort orders, ie. name:asc,createdAt:desc
          required: false
          type: array
          items:
            type: string
          collectionFormat: multi
        - name: teamspaceUuid
          in: path
          description: teamspace uuid
          required: true
          type: string
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1745911132465'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«PageData«ClipInfoVo»»'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /openapi/v1/teamspace/{teamspaceUuid}/script-to-video:
    post:
      tags:
        - Visla Open Api
      summary: Create a video from script in specific teamspace
      operationId: scriptToVideoUsingPOST_9
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - in: body
          name: reqBody
          description: reqBody
          required: true
          schema:
            $ref: '#/definitions/OpenApiScriptToVideoReqBody'
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: teamspaceUuid
          in: path
          description: teamspaceUuid
          required: true
          type: string
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1745911132465'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«OpenAgentProjectVo»'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /openapi/v1/user/info:
    get:
      tags:
        - Visla Open Api
      summary: get user information
      operationId: getInfoUsingGET_3
      produces:
        - '*/*'
      parameters:
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1745911132465'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«OpenUserVo»'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /openapi/v1/workspace/credit-balance:
    get:
      tags:
        - Visla Open Api
      summary: get workspace credit balance
      operationId: getMyWorkspaceBalanceUsingGET_1
      produces:
        - '*/*'
      parameters:
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1745911132465'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«int»'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /openapi/v1/workspace/credit-detail:
    get:
      tags:
        - Visla Open Api
      summary: get workspace credit detail info
      operationId: getMyWorkspaceCreditDetailUsingGET_1
      produces:
        - '*/*'
      parameters:
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1745911132465'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«OpenWorkspaceCreditVo»'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /openapi/v1/workspace/list-my-teamspace:
    get:
      tags:
        - Visla Open Api
      summary: list my teamspaces (owned and joined) under current workspace
      operationId: listMyTeamspaceUsingGET_3
      produces:
        - '*/*'
      parameters:
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1745911132465'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«List«OpenTeamspaceVo»»'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /openapi/v1/workspace/my-workspace-info:
    get:
      tags:
        - Visla Open Api
      summary: get workspace info
      operationId: getMyWorkspaceInfoUsingGET_2
      produces:
        - '*/*'
      parameters:
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1745911132465'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«OpenWorkspaceVo»'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
definitions:
  ActionResult:
    type: object
    properties:
      message:
        type: string
      status:
        type: string
        enum:
          - doing
          - failed
          - init
          - success
          - todo
    title: ActionResult
  AgentProjectMediaVo:
    type: object
    properties:
      audioLink:
        type: string
      description:
        type: string
      duration:
        type: integer
        format: int32
      mediaType:
        type: string
        enum:
          - all
          - audio
          - image
          - video
      playbackLink:
        type: string
      processStatus:
        type: string
        enum:
          - completed
          - downloading
          - failed
          - init
          - processing
          - publishing
          - uploading
      projectUuid:
        type: string
      resourceLink:
        type: string
      resourceUuid:
        type: string
      tagList:
        type: array
        items:
          type: string
      thumbnailLink:
        type: string
      title:
        type: string
    title: AgentProjectMediaVo
    description: Media information of the agent project
  AssetTranscript:
    type: object
    properties:
      message:
        type: string
      status:
        type: string
        enum:
          - doing
          - failed
          - init
          - success
          - todo
    title: AssetTranscript
  ClipDownloadVo:
    type: object
    properties:
      downloadLink:
        type: string
    title: ClipDownloadVo
    description: info of clip download link
  ClipInfoVo:
    type: object
    properties:
      audioLink:
        type: string
        description: the audio link
      capabilities:
        type: object
        additionalProperties:
          type: boolean
      clipLink:
        type: string
      clipStatus:
        type: string
        enum:
          - completed
          - downloading
          - failed
          - init
          - processing
          - publishing
          - uploading
      clipType:
        type: string
        enum:
          - all
          - audio
          - image
          - video
      clipUuid:
        type: string
      commentTimes:
        type: integer
        format: int32
      compositeVideoInfo:
        type: string
      createdAt:
        type: integer
        format: int64
        example: 1600000000000
        description: The create time of this record
      creator:
        $ref: '#/definitions/UserSimpleInfoVo'
      credit:
        type: string
      defaultOutroUsed:
        type: boolean
      deleted:
        type: boolean
      description:
        type: string
      disableEmbedPlayerLogo:
        type: boolean
      downloadLink:
        type: string
      duration:
        type: integer
        format: int32
      entityType:
        type: string
        enum:
          - agent_project
          - agent_project_media
          - clip
          - custom_voice
          - folder
          - gettyimages
          - pexels
          - pictures
          - project
          - projectAsset
          - project_video
          - sequence
          - stock_audio
          - stock_media
          - storyblocks
          - teamspace
          - unknown
          - user
          - visla_media
          - voice
          - workspace
      folderName:
        type: string
      folderUuid:
        type: string
      hasAudio:
        type: boolean
      height:
        type: integer
        format: int32
      isCompositeVideo:
        type: boolean
      isFromMyFolder:
        type: boolean
      isSharedWithMe:
        type: boolean
      moderateStatus:
        type: string
        enum:
          - approved
          - pending
          - rejected
      modifiedAt:
        type: integer
        format: int64
        example: 1600000000000
        description: The update timestamp.
      modifier:
        $ref: '#/definitions/UserSimpleInfoVo'
      noiseReductionLink:
        type: string
        description: the audio reduction link
      orgName:
        type: string
      orgUuid:
        type: string
      outro:
        $ref: '#/definitions/Outro'
      ownerAvatar:
        type: string
      ownerName:
        type: string
      ownerUuid:
        type: string
      parentProjectUuid:
        type: string
      personalStock:
        type: boolean
      playbackLink:
        type: string
      privateStockNeedReview:
        type: boolean
      privateStockStatus:
        type: string
        enum:
          - completed
          - completed_for_review
          - free_user_processing
          - not_private_stock
          - processing
          - processing_error
      processResult:
        description: the process result of project asset
        $ref: '#/definitions/ProcessResultVo'
      role:
        type: string
      shareInfo:
        $ref: '#/definitions/ShareInfo'
      shareLink:
        type: string
      sourceType:
        type: string
        enum:
          - downloaded_from_external
          - export_video
          - narration_recording
          - quick_capture
          - self_recording
          - step_video_screenshot
          - uploaded_from_local
      speed:
        type: number
      starred:
        type: boolean
      tagList:
        type: array
        description: Assets tags
        items:
          type: string
      teamspace:
        $ref: '#/definitions/TeamspaceSimpleInfoVo'
      teamspaceName:
        type: string
      teamspaceUuid:
        type: string
      thumbnailLink:
        type: string
      title:
        type: string
      useNoiseReduction:
        type: boolean
      videoshot:
        $ref: '#/definitions/ObjectNode'
      viewTimes:
        type: integer
        format: int32
      watermark:
        $ref: '#/definitions/Watermark'
      waveAudioLink:
        type: string
        description: the wave audio link
      width:
        type: integer
        format: int32
    title: ClipInfoVo
    description: Basic information of the clip
  ClipTranscriptVo:
    type: object
    properties:
      transcript:
        $ref: '#/definitions/ObjectNode'
    title: ClipTranscriptVo
    description: Clip transcript of the clip
  ObjectNode:
    type: object
    title: ObjectNode
  OpenAddClipToSpaceReqBody:
    type: object
    required:
      - clipLink
      - clipUuid
      - title
    properties:
      clipLink:
        type: string
        example: '***'
        description: clipLink
      clipUuid:
        type: string
        example: 1024204830724096
        description: clipUuid
      description:
        type: string
        example: description
        description: description
      needAsr:
        type: boolean
      tags:
        type: array
        example: tag1,tag2
        description: tags
        items:
          type: string
      title:
        type: string
        example: title
        description: title
    title: OpenAddClipToSpaceReqBody
  OpenAgentProjectVo:
    type: object
    properties:
      aiRecommendStatus:
        type: string
        enum:
          - failure
          - normal
          - processing
          - processing_blog
          - processing_create_video
          - processing_translation
          - processing_voice_align
      commentCnt:
        type: integer
        format: int32
      createdAt:
        type: integer
        format: int64
        example: 1600000000000
        description: The create time of this record
      creator:
        $ref: '#/definitions/UserSimpleInfoVo'
      description:
        type: string
        example: This is my first project
        description: The Project Description
      folderUuid:
        type: string
        example: 1024102310221021
        description: Folder UUID
      language:
        type: string
      modifiedAt:
        type: integer
        format: int64
        example: 1600000000000
        description: The update timestamp.
      modifier:
        $ref: '#/definitions/UserSimpleInfoVo'
      name:
        type: string
        example: My Project
        description: The Project Name
      progressStatus:
        type: string
        enum:
          - draft_video
          - editing
          - error
          - final_enhancement
          - generated_videos
          - init
          - ongoing
          - preparation
          - rough_cut
          - select_main_story
          - supplemental_footage
      projectUuid:
        type: string
      shareLink:
        type: string
        example: http://www.xxx.us/yyyy
        description: The Project sharing link
      teamspaceUuid:
        type: string
        example: 1024102310221021
        description: Teamspace UUID
      thumbnailLink:
        type: string
        example: http://www.xxx.us/abc.jpg
        description: The Project thumbnail link
      version:
        type: integer
        format: int32
        example: 1
        description: The Project version
      videoFormat:
        type: string
        enum:
          - '16:9'
          - '1:1'
          - '4:3'
          - '9:16'
          - custom
      viewTimes:
        type: integer
        format: int32
    title: OpenAgentProjectVo
    description: Basic information of the project
  OpenApiBgmOptionsNode:
    type: object
    properties:
      use_free_stocks:
        type: boolean
        example: true
        description: true/false, whether to use free stocks in the video creation
      use_premium_stocks:
        type: boolean
    title: OpenApiBgmOptionsNode
    description: Recommend BGM Options
  OpenApiExportVideoReqBody:
    type: object
    properties:
      completion_webhook:
        type: string
    title: OpenApiExportVideoReqBody
  OpenApiFootageOptionsNode:
    type: object
    properties:
      use_free_stocks:
        type: boolean
      use_premium_stocks:
        type: boolean
      use_premium_stocks_getty:
        type: boolean
      use_private_stocks:
        type: boolean
        example: true
        description: true/false, whether to use private stocks in the video creation
    title: OpenApiFootageOptionsNode
    description: Recommend Footage Options
  OpenApiScriptToVideoReqBody:
    type: object
    properties:
      bgm_options:
        example: {}
        description: search footage options
        $ref: '#/definitions/OpenApiBgmOptionsNode'
      completion_webhook:
        type: string
        example: >-
          https://xyz.com/hooks/callback/123/abcdef01-2345-6789-abcd-ef0123456789/abcdef0123456789abcdef0123456789abcdef01
        description: >-
          third-party site callback url to call after video creation is
          completed in Visla
      footage_options:
        example: {}
        description: search footage options
        $ref: '#/definitions/OpenApiFootageOptionsNode'
      target_video:
        example: {}
        description: >-
          Any requirements that are not included in target_video node, such as
          music genre etc. Default if not specified: empty string
        $ref: '#/definitions/OpenApiTargetVideoPropertiesNode'
      video_description:
        type: string
    title: OpenApiScriptToVideoReqBody
    description: >-
      This request body to create a Visla video by inputing video script and
      other optional parameters
  OpenApiTargetVideoPropertiesNode:
    type: object
    properties:
      aspect_ratio:
        type: string
        example: '16:9'
        description: 'enum string: 16:9, 9:16, 1:1, default if unspecified: 16:9'
      burn_subtitles:
        type: boolean
      video_pace:
        type: string
    title: OpenApiTargetVideoPropertiesNode
    description: Target Video Properties
  OpenClipVo:
    type: object
    properties:
      clipLink:
        type: string
      clipStatus:
        type: string
        enum:
          - completed
          - downloading
          - failed
          - init
          - processing
          - publishing
          - uploading
      clipType:
        type: string
        enum:
          - all
          - audio
          - image
          - video
      clipUuid:
        type: string
      createdAt:
        type: integer
        format: int64
        example: 1600000000000
        description: The create time of this record
      creator:
        $ref: '#/definitions/UserSimpleInfoVo'
      creatorId:
        type: integer
        format: int64
      credit:
        type: string
      description:
        type: string
      duration:
        type: integer
        format: int32
      entityType:
        type: string
        enum:
          - agent_project
          - agent_project_media
          - clip
          - custom_voice
          - folder
          - gettyimages
          - pexels
          - pictures
          - project
          - projectAsset
          - project_video
          - sequence
          - stock_audio
          - stock_media
          - storyblocks
          - teamspace
          - unknown
          - user
          - visla_media
          - voice
          - workspace
      folderName:
        type: string
      folderUuid:
        type: string
      hasAudio:
        type: boolean
      height:
        type: integer
        format: int32
      isCompositeVideo:
        type: boolean
      isDeleted:
        type: boolean
      modifiedAt:
        type: integer
        format: int64
        example: 1600000000000
        description: The update timestamp.
      modifier:
        $ref: '#/definitions/UserSimpleInfoVo'
      modifierId:
        type: integer
        format: int64
      ownerAvatar:
        type: string
      ownerName:
        type: string
      playbackLink:
        type: string
      shareLink:
        type: string
      tagList:
        type: array
        description: Assets tags
        items:
          type: string
      teamspaceUuid:
        type: string
      thumbnailLink:
        type: string
      title:
        type: string
      width:
        type: integer
        format: int32
    title: OpenClipVo
    description: Basic information of the clip
  OpenProjectGenerateReqBody:
    type: object
    properties:
      bgm_options:
        example: {}
        description: search footage options
        $ref: '#/definitions/OpenApiBgmOptionsNode'
      completion_webhook:
        type: string
        example: https://example.com/webhook
        description: The webhook url to send the video result
      footage_options:
        example: {}
        description: search footage options
        $ref: '#/definitions/OpenApiFootageOptionsNode'
    title: OpenProjectGenerateReqBody
  OpenResourceUploadReqBody:
    type: object
    properties:
      description:
        type: string
        example: This is a description
        description: Description of asset
      resourceLink:
        type: string
        example: http://test.visla.us/abc.mp4
        description: Asset link
      resourceUuid:
        type: string
        example: abc
        description: Asset UUID
      tagList:
        type: array
        description: Assets tags
        items:
          type: string
      title:
        type: string
        example: A title
        description: Asset title
        minLength: 0
        maxLength: 200
    title: OpenResourceUploadReqBody
    description: Request body of adding a uploaded asset to project
  OpenTeamspaceVo:
    type: object
    properties:
      createdAt:
        type: string
        format: date-time
      creatorUuid:
        type: string
      description:
        type: string
      isAllHands:
        type: boolean
      isMySpace:
        type: boolean
      joinTime:
        type: string
        format: date-time
      memberCount:
        type: integer
        format: int32
      memberRole:
        type: string
        enum:
          - guest
          - member
          - owner
      modifiedAt:
        type: string
        format: date-time
      name:
        type: string
      status:
        type: string
        enum:
          - active
          - created
          - deleted
          - inactive
          - trashed
      teamspaceUuid:
        type: string
      workspaceUuid:
        type: string
    title: OpenTeamspaceVo
    description: Teamspace Basic Information
  OpenUploadResourceParamVo:
    type: object
    properties:
      resourceUuid:
        type: string
        example: abc
        description: The Asset UUID.
      uploadUrl:
        type: string
        example: http://api.visla.us/xxxxx.mp4
        description: The URL to upload this resource.
    title: OpenUploadResourceParamVo
    description: The response body of Upload resources
  OpenUserVo:
    type: object
    properties:
      avatar:
        type: string
      createdAt:
        type: integer
        format: int64
        example: 1600000000000
        description: The create time of this record
      email:
        type: string
      familyName:
        type: string
      givenName:
        type: string
      loginTime:
        type: integer
        format: int64
        example: 1600000000000
        description: The login time
      modifiedAt:
        type: integer
        format: int64
        example: 1600000000000
        description: The update timestamp.
      regTime:
        type: integer
        format: int64
        example: 1600000000000
        description: The register time
      regType:
        type: string
        enum:
          - apple_oauth
          - email_password
          - google_oauth
          - sso_oauth
      userStatus:
        type: string
        enum:
          - active
          - disabled
          - inactive
      userUuid:
        type: string
    title: OpenUserVo
  OpenWorkspaceCreditVo:
    type: object
    properties:
      cashableCreditBalance:
        type: number
      creditBalance:
        type: number
      flexibleCreditBalance:
        type: number
      frozenCredit:
        type: number
      monthlyCashableCreditUsed:
        type: number
      monthlyCredit:
        type: number
      monthlyCreditUsed:
        type: number
      monthlyFlexibleCredit:
        type: number
      monthlyFlexibleCreditUsed:
        type: number
      monthlyNonCashableCreditUsed:
        type: number
      nonCashableCreditBalance:
        type: number
    title: OpenWorkspaceCreditVo
  OpenWorkspaceVo:
    type: object
    properties:
      avatar:
        type: string
      createdAt:
        type: string
        format: date-time
      creatorUuid:
        type: string
      description:
        type: string
      joinTime:
        type: string
        format: date-time
      memberCount:
        type: integer
        format: int32
      memberRole:
        type: string
        enum:
          - guest
          - member
          - owner
      modifiedAt:
        type: string
        format: date-time
      name:
        type: string
      orgId:
        type: integer
        format: int64
      workspaceUuid:
        type: string
    title: OpenWorkspaceVo
    description: Workspace Detail Information
  Outro:
    type: object
    properties:
      duration:
        type: integer
        format: int32
      outroLink:
        type: string
      padColor:
        type: string
      useOutro:
        type: boolean
    title: Outro
  PageData«ClipInfoVo»:
    type: object
    properties:
      ext:
        $ref: '#/definitions/ObjectNode'
      list:
        type: array
        items:
          $ref: '#/definitions/ClipInfoVo'
      paging:
        $ref: '#/definitions/Paging'
    title: PageData«ClipInfoVo»
    description: page data
  PageData«OpenAgentProjectVo»:
    type: object
    properties:
      ext:
        $ref: '#/definitions/ObjectNode'
      list:
        type: array
        items:
          $ref: '#/definitions/OpenAgentProjectVo'
      paging:
        $ref: '#/definitions/Paging'
    title: PageData«OpenAgentProjectVo»
    description: page data
  PageData«OpenClipVo»:
    type: object
    properties:
      ext:
        $ref: '#/definitions/ObjectNode'
      list:
        type: array
        items:
          $ref: '#/definitions/OpenClipVo'
      paging:
        $ref: '#/definitions/Paging'
    title: PageData«OpenClipVo»
    description: page data
  Paging:
    type: object
    properties:
      endRow:
        type: integer
        format: int64
      hasMore:
        type: boolean
      size:
        type: integer
        format: int64
      startRow:
        type: integer
        format: int64
      total:
        type: integer
        format: int64
    title: Paging
  ProcessResultVo:
    type: object
    properties:
      metadata:
        $ref: '#/definitions/ActionResult'
      noiseLvlControl:
        $ref: '#/definitions/ActionResult'
      playback:
        $ref: '#/definitions/ActionResult'
      scale:
        $ref: '#/definitions/ActionResult'
      separate:
        $ref: '#/definitions/ActionResult'
      standardization:
        $ref: '#/definitions/ActionResult'
      thumbnail:
        $ref: '#/definitions/ActionResult'
      transcript:
        $ref: '#/definitions/AssetTranscript'
    title: ProcessResultVo
  Result«AgentProjectMediaVo»:
    type: object
    properties:
      code:
        type: integer
        format: int32
        example: 0
        description: result code
      data:
        $ref: '#/definitions/AgentProjectMediaVo'
      msg:
        type: string
        example: success
        description: result message
      trackingId:
        type: string
        example: 0af7651916cd43dd8448eb211c80319c
        description: trace id
    title: Result«AgentProjectMediaVo»
    description: result object
  Result«ClipDownloadVo»:
    type: object
    properties:
      code:
        type: integer
        format: int32
        example: 0
        description: result code
      data:
        $ref: '#/definitions/ClipDownloadVo'
      msg:
        type: string
        example: success
        description: result message
      trackingId:
        type: string
        example: 0af7651916cd43dd8448eb211c80319c
        description: trace id
    title: Result«ClipDownloadVo»
    description: result object
  Result«ClipTranscriptVo»:
    type: object
    properties:
      code:
        type: integer
        format: int32
        example: 0
        description: result code
      data:
        $ref: '#/definitions/ClipTranscriptVo'
      msg:
        type: string
        example: success
        description: result message
      trackingId:
        type: string
        example: 0af7651916cd43dd8448eb211c80319c
        description: trace id
    title: Result«ClipTranscriptVo»
    description: result object
  Result«List«AgentProjectMediaVo»»:
    type: object
    properties:
      code:
        type: integer
        format: int32
        example: 0
        description: result code
      data:
        type: array
        items:
          $ref: '#/definitions/AgentProjectMediaVo'
      msg:
        type: string
        example: success
        description: result message
      trackingId:
        type: string
        example: 0af7651916cd43dd8448eb211c80319c
        description: trace id
    title: Result«List«AgentProjectMediaVo»»
    description: result object
  Result«List«OpenTeamspaceVo»»:
    type: object
    properties:
      code:
        type: integer
        format: int32
        example: 0
        description: result code
      data:
        type: array
        items:
          $ref: '#/definitions/OpenTeamspaceVo'
      msg:
        type: string
        example: success
        description: result message
      trackingId:
        type: string
        example: 0af7651916cd43dd8448eb211c80319c
        description: trace id
    title: Result«List«OpenTeamspaceVo»»
    description: result object
  Result«Map«string,object»»:
    type: object
    properties:
      code:
        type: integer
        format: int32
        example: 0
        description: result code
      data:
        type: object
      msg:
        type: string
        example: success
        description: result message
      trackingId:
        type: string
        example: 0af7651916cd43dd8448eb211c80319c
        description: trace id
    title: Result«Map«string,object»»
    description: result object
  Result«OpenAgentProjectVo»:
    type: object
    properties:
      code:
        type: integer
        format: int32
        example: 0
        description: result code
      data:
        $ref: '#/definitions/OpenAgentProjectVo'
      msg:
        type: string
        example: success
        description: result message
      trackingId:
        type: string
        example: 0af7651916cd43dd8448eb211c80319c
        description: trace id
    title: Result«OpenAgentProjectVo»
    description: result object
  Result«OpenClipVo»:
    type: object
    properties:
      code:
        type: integer
        format: int32
        example: 0
        description: result code
      data:
        $ref: '#/definitions/OpenClipVo'
      msg:
        type: string
        example: success
        description: result message
      trackingId:
        type: string
        example: 0af7651916cd43dd8448eb211c80319c
        description: trace id
    title: Result«OpenClipVo»
    description: result object
  Result«OpenTeamspaceVo»:
    type: object
    properties:
      code:
        type: integer
        format: int32
        example: 0
        description: result code
      data:
        $ref: '#/definitions/OpenTeamspaceVo'
      msg:
        type: string
        example: success
        description: result message
      trackingId:
        type: string
        example: 0af7651916cd43dd8448eb211c80319c
        description: trace id
    title: Result«OpenTeamspaceVo»
    description: result object
  Result«OpenUploadResourceParamVo»:
    type: object
    properties:
      code:
        type: integer
        format: int32
        example: 0
        description: result code
      data:
        $ref: '#/definitions/OpenUploadResourceParamVo'
      msg:
        type: string
        example: success
        description: result message
      trackingId:
        type: string
        example: 0af7651916cd43dd8448eb211c80319c
        description: trace id
    title: Result«OpenUploadResourceParamVo»
    description: result object
  Result«OpenUserVo»:
    type: object
    properties:
      code:
        type: integer
        format: int32
        example: 0
        description: result code
      data:
        $ref: '#/definitions/OpenUserVo'
      msg:
        type: string
        example: success
        description: result message
      trackingId:
        type: string
        example: 0af7651916cd43dd8448eb211c80319c
        description: trace id
    title: Result«OpenUserVo»
    description: result object
  Result«OpenWorkspaceCreditVo»:
    type: object
    properties:
      code:
        type: integer
        format: int32
        example: 0
        description: result code
      data:
        $ref: '#/definitions/OpenWorkspaceCreditVo'
      msg:
        type: string
        example: success
        description: result message
      trackingId:
        type: string
        example: 0af7651916cd43dd8448eb211c80319c
        description: trace id
    title: Result«OpenWorkspaceCreditVo»
    description: result object
  Result«OpenWorkspaceVo»:
    type: object
    properties:
      code:
        type: integer
        format: int32
        example: 0
        description: result code
      data:
        $ref: '#/definitions/OpenWorkspaceVo'
      msg:
        type: string
        example: success
        description: result message
      trackingId:
        type: string
        example: 0af7651916cd43dd8448eb211c80319c
        description: trace id
    title: Result«OpenWorkspaceVo»
    description: result object
  Result«PageData«ClipInfoVo»»:
    type: object
    properties:
      code:
        type: integer
        format: int32
        example: 0
        description: result code
      data:
        $ref: '#/definitions/PageData«ClipInfoVo»'
      msg:
        type: string
        example: success
        description: result message
      trackingId:
        type: string
        example: 0af7651916cd43dd8448eb211c80319c
        description: trace id
    title: Result«PageData«ClipInfoVo»»
    description: result object
  Result«PageData«OpenAgentProjectVo»»:
    type: object
    properties:
      code:
        type: integer
        format: int32
        example: 0
        description: result code
      data:
        $ref: '#/definitions/PageData«OpenAgentProjectVo»'
      msg:
        type: string
        example: success
        description: result message
      trackingId:
        type: string
        example: 0af7651916cd43dd8448eb211c80319c
        description: trace id
    title: Result«PageData«OpenAgentProjectVo»»
    description: result object
  Result«PageData«OpenClipVo»»:
    type: object
    properties:
      code:
        type: integer
        format: int32
        example: 0
        description: result code
      data:
        $ref: '#/definitions/PageData«OpenClipVo»'
      msg:
        type: string
        example: success
        description: result message
      trackingId:
        type: string
        example: 0af7651916cd43dd8448eb211c80319c
        description: trace id
    title: Result«PageData«OpenClipVo»»
    description: result object
  Result«int»:
    type: object
    properties:
      code:
        type: integer
        format: int32
        example: 0
        description: result code
      data:
        type: integer
        format: int32
      msg:
        type: string
        example: success
        description: result message
      trackingId:
        type: string
        example: 0af7651916cd43dd8448eb211c80319c
        description: trace id
    title: Result«int»
    description: result object
  ShareInfo:
    type: object
    properties:
      role:
        type: string
      scope:
        type: string
        enum:
          - anyoneWithLink
          - anyoneWithinOrg
          - private
          - restrictedAccess
    title: ShareInfo
  TeamspaceSimpleInfoVo:
    type: object
    properties:
      accessScope:
        type: string
        enum:
          - closed
          - default
          - open
          - private
          - special private
      creatorUuid:
        type: string
      description:
        type: string
      name:
        type: string
      status:
        type: string
        enum:
          - active
          - created
          - deleted
          - inactive
          - trashed
      teamspaceUuid:
        type: string
      workspaceName:
        type: string
      workspaceUuid:
        type: string
    title: TeamspaceSimpleInfoVo
    description: Teamspace Simple Information
  UserSimpleInfoVo:
    type: object
    properties:
      userAvatar:
        type: string
      userEmail:
        type: string
      userName:
        type: string
      userUuid:
        type: string
    title: UserSimpleInfoVo
  Watermark:
    type: object
    properties:
      position:
        type: string
      useInEmbedPlayer:
        type: boolean
      useWatermark:
        type: boolean
      watermarkLink:
        type: string
    title: Watermark


