openapi: 3.0.0
info:
  title: Visla RESTful OPEN APIs
  description: Visla APIs specification managed by SpringFox3
  version: 1.0.0
  contact:
    name: api team
    email: team@visla.us
host: openapi.visla.us
basePath: /
tags:
  - name: Visla Open Api
    description: Open Api Clip Controller
paths:
  '/openapi/clip/{clipUuid}/extract':
    post:
      tags:
        - Visla Open Api
      summary: Extract from original clip
      operationId: extractClipUsingPOST_1
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: clipUuid
          in: path
          description: clip uuid
          required: true
          type: string
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - in: body
          name: reqBody
          description: reqBody
          required: true
          schema:
            $ref: '#/definitions/ExtractAndMergeClipReqBody'
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1742459291139'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«List«ClipInfoVo»»'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/openapi/clip/{clipUuid}/get-download-link':
    get:
      tags:
        - Visla Open Api
      summary: get clip download link
      operationId: getClipDownloadLinkUsingGET_1
      produces:
        - '*/*'
      parameters:
        - name: clipUuid
          in: path
          description: clip uuid
          required: true
          type: string
        - name: completion_webhook
          in: query
          description: export video completion webhook
          required: false
          type: string
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1742459291139'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«ClipDownloadVo»'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/openapi/clip/{clipUuid}/info':
    get:
      tags:
        - Visla Open Api
      summary: get clip info
      operationId: getClipUsingGET_1
      produces:
        - '*/*'
      parameters:
        - name: clipUuid
          in: path
          description: clip uuid
          required: true
          type: string
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1742459291139'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«ClipInfoVo»'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/openapi/clip/{clipUuid}/transcript':
    get:
      tags:
        - Visla Open Api
      summary: get clip transcript
      operationId: getClipTranscriptUsingGET_1
      produces:
        - '*/*'
      parameters:
        - name: clipUuid
          in: path
          description: clip uuid
          required: true
          type: string
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1742459291139'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«ClipTranscriptVo»'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
    put:
      tags:
        - Visla Open Api
      summary: Update clip transcript
      operationId: updateClipTranscriptUsingPUT_1
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: clipUuid
          in: path
          description: clip uuid
          required: true
          type: string
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - in: body
          name: reqBody
          description: reqBody
          required: true
          schema:
            $ref: '#/definitions/OpenapiUpdateClipTranscriptReqBody'
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1742459291139'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«ClipTranscriptVo»'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/openapi/folder/{folderUuid}/add-clip':
    post:
      tags:
        - Visla Open Api
      summary: add new clip to folder
      operationId: addClipUsingPOST_1
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: folderUuid
          in: path
          description: folder uuid
          required: true
          type: string
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - in: body
          name: reqBody
          description: reqBody
          required: true
          schema:
            $ref: '#/definitions/NewClipReqBody'
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1742459291139'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«ClipInfoVo»'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/openapi/folder/{folderUuid}/list-clip':
    get:
      tags:
        - Visla Open Api
      summary: list clips in folder
      operationId: listClipUsingGET_3
      produces:
        - '*/*'
      parameters:
        - name: filterBy
          in: query
          description: 'FilterBy,viewer/contributor can''t set pending'
          required: false
          type: string
          enum:
            - all
            - approved
            - my_own_clips
            - pending
        - name: folderUuid
          in: path
          description: folder uuid
          required: true
          type: string
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: limit
          in: query
          description: 'The optional page size limit,default=2000,max=2000'
          required: false
          type: integer
          maximum: 2000
          exclusiveMaximum: false
          format: int32
          x-example: 10
        - name: mediaType
          in: query
          description: video audio image
          required: false
          type: array
          items:
            type: string
            enum:
              - all
              - audio
              - image
              - video
          collectionFormat: multi
          enum:
            - all
            - audio
            - image
            - video
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - name: offset
          in: query
          description: 'The optional page offset, the default value is 0.'
          required: false
          type: integer
          minimum: 0
          exclusiveMinimum: false
          format: int32
          x-example: 0
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: sortBy
          in: query
          description: 'The optional Sort orders, ie. name:asc,createdAt:desc'
          required: false
          type: array
          items:
            type: string
          collectionFormat: multi
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1742459291139'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«PageData«ClipInfoVo»»'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /openapi/project/create-video-by-url:
    post:
      tags:
        - Visla Open Api
      summary: Create a blog-2-video project by url
      operationId: createVideoByUrlUsingPOST_2
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - in: body
          name: reqBody
          description: reqBody
          required: true
          schema:
            $ref: '#/definitions/OpenAiCreateVideoByUrlReqBody'
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1742459291139'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«ProjectVo»'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /openapi/project/create-video-from-script:
    post:
      tags:
        - Visla Open Api
      summary: Create a text-2-video project from script
      operationId: createVideoFromScriptUsingPOST_1
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - in: body
          name: reqBody
          description: reqBody
          required: true
          schema:
            $ref: '#/definitions/OpenApiCreateVideoByScriptReqBody'
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1742459291139'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«ProjectVo»'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: true
  /openapi/project/script-to-video:
    post:
      tags:
        - Visla Open Api
      summary: Create a video from script
      operationId: scriptToVideoUsingPOST_2
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - in: body
          name: reqBody
          description: reqBody
          required: true
          schema:
            $ref: '#/definitions/OpenApiScriptToVideoReqBody'
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1742459291139'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«ProjectVo»'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/openapi/project/{projectUuid}/add-uploaded-asset':
    post:
      tags:
        - Visla Open Api
      summary: add the uploaded asset to project
      operationId: addUploadedAssetUsingPOST_1
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: body
          description: The Request Body
          required: true
          schema:
            $ref: '#/definitions/ProjectAssetUploadReqBody'
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - name: projectUuid
          in: path
          description: The Project UUID
          required: true
          type: string
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1742459291139'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«ProjectAssetVo»'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/openapi/project/{projectUuid}/export-video':
    post:
      tags:
        - Visla Open Api
      summary: Export project(video) as a clip to my teamspace
      operationId: exportProjectUsingPOST_2
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: completion_webhook
          in: query
          description: export video completion webhook
          required: false
          type: string
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - name: projectUuid
          in: path
          description: project uuid
          required: true
          type: string
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1742459291139'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«ClipInfoVo»'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/openapi/project/{projectUuid}/generate-video':
    post:
      tags:
        - Visla Open Api
      summary: Generate video
      operationId: generateVideoUsingPOST_1
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - in: body
          name: projectRecommendConfVo
          description: projectRecommendConfVo
          required: true
          schema:
            $ref: '#/definitions/ProjectRecommendConfVo'
        - name: projectUuid
          in: path
          description: Project UUID
          required: true
          type: string
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1742459291139'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«ProjectVo»'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/openapi/project/{projectUuid}/get-asset-upload-url':
    get:
      tags:
        - Visla Open Api
      summary: >-
        Get the upload parameters(includes upload url) to upload asset to
        project.
      operationId: getUploadParametersUsingGET_1
      produces:
        - '*/*'
      parameters:
        - name: fileSuffix
          in: query
          description: The filename extension
          required: false
          type: string
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - name: projectUuid
          in: path
          description: The Project UUID
          required: true
          type: string
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1742459291139'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«UploadAssetParamVo»'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/openapi/project/{projectUuid}/get-consumed-credit':
    get:
      tags:
        - Visla Open Api
      summary: Get consumed credit of a project
      operationId: getProjectConsumedCreditUsingGET
      produces:
        - '*/*'
      parameters:
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - name: projectUuid
          in: path
          description: Project UUID
          required: true
          type: string
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1742459291139'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«int»'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/openapi/project/{projectUuid}/idea-n-audio':
    get:
      tags:
        - Visla Open Api
      summary: get project idea and audio info
      operationId: getProjectIdeaAndAudioUsingGET_1
      produces:
        - '*/*'
      parameters:
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - name: projectUuid
          in: path
          description: projectUuid
          required: true
          type: string
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1742459291139'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«AllInOneProjectIdeaAndAudioVo»'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/openapi/project/{projectUuid}/info':
    get:
      tags:
        - Visla Open Api
      summary: Get project detail information
      operationId: getProjectDetailUsingGET_1
      produces:
        - '*/*'
      parameters:
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - name: projectUuid
          in: path
          description: Project UUID
          required: true
          type: string
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1742459291139'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«ProjectVo»'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/openapi/teamspace/{teamspaceUuid}/add-clip':
    post:
      tags:
        - Visla Open Api
      summary: add new clip to teamspace
      operationId: addClipToTeamspaceUsingPOST_1
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - in: body
          name: reqBody
          description: reqBody
          required: true
          schema:
            $ref: '#/definitions/AddClipToSpaceReqBody'
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: teamspaceUuid
          in: path
          description: teamspace uuid
          required: true
          type: string
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1742459291139'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«ClipInfoVo»'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/openapi/teamspace/{teamspaceUuid}/add-download-clip':
    post:
      tags:
        - Visla Open Api
      summary: add new clip to folder with download link
      operationId: addDownloadClipUsingPOST_2
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - in: body
          name: reqBody
          description: reqBody
          required: true
          schema:
            $ref: '#/definitions/DownloadMediaReqBody'
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: teamspaceUuid
          in: path
          description: teamspace uuid
          required: true
          type: string
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1742459291139'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«ClipInfoVo»'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/openapi/teamspace/{teamspaceUuid}/create-video-from-script':
    post:
      tags:
        - Visla Open Api
      summary: Create a text-2-video project from script
      operationId: createVideoFromScriptUsingPOST_2
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - in: body
          name: reqBody
          description: reqBody
          required: true
          schema:
            $ref: '#/definitions/OpenApiCreateVideoByScriptReqBody'
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: teamspaceUuid
          in: path
          description: teamspaceUuid
          required: true
          type: string
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1742459291139'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«ProjectVo»'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: true
  '/openapi/teamspace/{teamspaceUuid}/get-clip-upload-url':
    get:
      tags:
        - Visla Open Api
      summary: get clip file upload url
      operationId: getClipUploadUrlUsingGET
      produces:
        - '*/*'
      parameters:
        - name: fileSuffix
          in: query
          description: fileSuffix
          required: true
          type: string
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: teamspaceUuid
          in: path
          description: teamspaceUuid
          required: true
          type: string
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1742459291139'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«Map«string,object»»'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/openapi/teamspace/{teamspaceUuid}/info':
    get:
      tags:
        - Visla Open Api
      summary: get teamspace info
      operationId: getTeamspaceInfoUsingGET_1
      produces:
        - '*/*'
      parameters:
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: teamspaceUuid
          in: path
          description: teamspace uuid
          required: true
          type: string
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1742459291139'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«TeamspaceInfoVo»'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/openapi/teamspace/{teamspaceUuid}/list-clip':
    get:
      tags:
        - Visla Open Api
      summary: list clips in teamspace
      operationId: listTeamspaceClipUsingGET_2
      produces:
        - '*/*'
      parameters:
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: limit
          in: query
          description: 'The optional page size limit,default=2000,max=2000'
          required: false
          type: integer
          maximum: 2000
          exclusiveMaximum: false
          format: int32
          x-example: 10
        - name: mediaType
          in: query
          description: video audio image
          required: false
          type: array
          items:
            type: string
            enum:
              - all
              - audio
              - image
              - video
          collectionFormat: multi
          enum:
            - all
            - audio
            - image
            - video
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - name: offset
          in: query
          description: 'The optional page offset, the default value is 0.'
          required: false
          type: integer
          minimum: 0
          exclusiveMinimum: false
          format: int32
          x-example: 0
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: sortBy
          in: query
          description: 'The optional Sort orders, ie. name:asc,createdAt:desc'
          required: false
          type: array
          items:
            type: string
          collectionFormat: multi
        - name: teamspaceUuid
          in: path
          description: teamspace uuid
          required: true
          type: string
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1742459291139'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«PageData«ClipInfoVo»»'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/openapi/teamspace/{teamspaceUuid}/list-project':
    get:
      tags:
        - Visla Open Api
      summary: list projects in teamspace
      operationId: listTeamspaceProjectUsingGET_2
      produces:
        - '*/*'
      parameters:
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: limit
          in: query
          description: 'The optional page size limit,default=2000,max=2000'
          required: false
          type: integer
          maximum: 2000
          exclusiveMaximum: false
          format: int32
          x-example: 10
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - name: offset
          in: query
          description: 'The optional page offset, the default value is 0.'
          required: false
          type: integer
          minimum: 0
          exclusiveMinimum: false
          format: int32
          x-example: 0
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: sortBy
          in: query
          description: 'The optional Sort orders, ie. name:asc,createdAt:desc'
          required: false
          type: array
          items:
            type: string
          collectionFormat: multi
        - name: teamspaceUuid
          in: path
          description: teamspace uuid
          required: true
          type: string
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1742459291139'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«PageData«ProjectVo»»'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/openapi/teamspace/{teamspaceUuid}/list-stock':
    get:
      tags:
        - Visla Open Api
      summary: list stocks in teamspace
      operationId: listTeamspaceStockUsingGET_1
      produces:
        - '*/*'
      parameters:
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: limit
          in: query
          description: 'The optional page size limit,default=2000,max=2000'
          required: false
          type: integer
          maximum: 2000
          exclusiveMaximum: false
          format: int32
          x-example: 10
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - name: offset
          in: query
          description: 'The optional page offset, the default value is 0.'
          required: false
          type: integer
          minimum: 0
          exclusiveMinimum: false
          format: int32
          x-example: 0
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: sortBy
          in: query
          description: 'The optional Sort orders, ie. name:asc,createdAt:desc'
          required: false
          type: array
          items:
            type: string
          collectionFormat: multi
        - name: teamspaceUuid
          in: path
          description: teamspace uuid
          required: true
          type: string
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1742459291139'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«PageData«ClipInfoVo»»'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/openapi/teamspace/{teamspaceUuid}/script-to-video':
    post:
      tags:
        - Visla Open Api
      summary: Create a video from script
      operationId: scriptToVideoUsingPOST_3
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - in: body
          name: reqBody
          description: reqBody
          required: true
          schema:
            $ref: '#/definitions/OpenApiScriptToVideoReqBody'
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: teamspaceUuid
          in: path
          description: teamspaceUuid
          required: true
          type: string
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1742459291139'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«ProjectVo»'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /openapi/user/info:
    get:
      tags:
        - Visla Open Api
      summary: get user information
      operationId: getInfoUsingGET_1
      produces:
        - '*/*'
      parameters:
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1742459291139'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«UserVo»'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /openapi/workspace/list:
    get:
      tags:
        - Visla Open Api
      summary: list my workspaces (owned and joined)
      operationId: listMyWorkspaceUsingGET_2
      produces:
        - '*/*'
      parameters:
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1742459291139'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«List«WorkspaceInfoVo»»'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/openapi/workspace/{workspaceUuid}/info':
    get:
      tags:
        - Visla Open Api
      summary: get workspace info (and permissions as well)
      operationId: getWorkspaceInfoUsingGET_1
      produces:
        - '*/*'
      parameters:
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1742459291139'
        - name: withPermission
          in: query
          description: withPermission
          required: false
          type: boolean
        - name: workspaceUuid
          in: path
          description: workspace uuid
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«WorkspaceInfoVo»'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/openapi/workspace/{workspaceUuid}/list-my-teamspace':
    get:
      tags:
        - Visla Open Api
      summary: list my teamspaces (owned and joined) under current workspace
      operationId: listMyTeamspaceUsingGET_1
      produces:
        - '*/*'
      parameters:
        - name: key
          in: header
          description: api key
          required: true
          type: string
        - name: nonce
          in: header
          description: nonce
          required: false
          type: string
          default: whatever
        - name: sign
          in: header
          description: sign
          required: true
          type: string
          default: 90bbc7d829bd54a74e77d80731ac3f772c54bcac4a5b106f63754ceccf185cb5
        - name: ts
          in: header
          description: timestamp
          required: true
          type: string
          default: '1742459291139'
        - name: workspaceUuid
          in: path
          description: workspace uuid
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Result«List«TeamspaceInfoVo»»'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
definitions:
  ActionResult:
    type: object
    properties:
      message:
        type: string
      status:
        type: string
        enum:
          - doing
          - failed
          - init
          - success
          - todo
    title: ActionResult
  AddClipToSpaceReqBody:
    type: object
    required:
      - clipLink
      - clipUuid
      - title
    properties:
      clipLink:
        type: string
        example: '***'
        description: clipLink
      clipUuid:
        type: string
        example: 1024204830724096
        description: clipUuid
      description:
        type: string
        example: description
        description: description
      folderUuid:
        type: string
        example: 1024204830724096
        description: folderUuid
      privateStock:
        type: boolean
        example: true
        description: privateStock
      tags:
        type: array
        example: 'tag1,tag2'
        description: tags
        items:
          type: string
      title:
        type: string
        example: title
        description: title
    title: AddClipToSpaceReqBody
    description: request body of adding clip to workspace or teamspace
  AllInOneProjectIdeaAndAudioVo:
    type: object
    properties:
      audioList:
        type: array
        description: story audio list
        items:
          $ref: '#/definitions/ProjectAssetVo'
      enhanceWithAi:
        type: boolean
        example: true
        description: Enhance story with AI
      ideaText:
        type: string
        example: I want to create a tiktok videa about injoying life
        description: user's idea
      videoList:
        type: array
        description: video list
        items:
          $ref: '#/definitions/ProjectAssetVo'
    title: AllInOneProjectIdeaAndAudioVo
  ArrayNode:
    type: object
    title: ArrayNode
  AssetTranscript:
    type: object
    properties:
      message:
        type: string
      status:
        type: string
        enum:
          - doing
          - failed
          - init
          - success
          - todo
    title: AssetTranscript
  ClipDownloadVo:
    type: object
    properties:
      downloadLink:
        type: string
    title: ClipDownloadVo
    description: info of clip download link
  ClipInfoVo:
    type: object
    properties:
      audioLink:
        type: string
        description: the audio link
      capabilities:
        type: object
        additionalProperties:
          type: boolean
      clipLink:
        type: string
      clipStatus:
        type: string
        enum:
          - completed
          - downloading
          - failed
          - init
          - processing
          - publishing
          - uploading
      clipType:
        type: string
        enum:
          - all
          - audio
          - image
          - video
      clipUuid:
        type: string
      commentTimes:
        type: integer
        format: int32
      compositeVideoInfo:
        type: string
      createdAt:
        type: integer
        format: int64
        example: 1600000000000
        description: The create time of this record
      creator:
        $ref: '#/definitions/UserSimpleInfoVo'
      credit:
        type: string
      defaultOutroUsed:
        type: boolean
      deleted:
        type: boolean
      description:
        type: string
      disableEmbedPlayerLogo:
        type: boolean
      downloadLink:
        type: string
      duration:
        type: integer
        format: int32
      entityType:
        type: string
        enum:
          - clip
          - custom_voice
          - folder
          - gettyimages
          - pexels
          - pictures
          - project
          - projectAsset
          - project_group
          - project_group_media
          - project_video
          - sequence
          - stock_audio
          - stock_media
          - storyblocks
          - teamspace
          - user
          - visla_media
          - voice
          - workspace
      folderName:
        type: string
      folderUuid:
        type: string
      hasAudio:
        type: boolean
      height:
        type: integer
        format: int32
      isCompositeVideo:
        type: boolean
      isFromMyFolder:
        type: boolean
      isSharedWithMe:
        type: boolean
      moderateStatus:
        type: string
        enum:
          - approved
          - pending
          - rejected
      modifiedAt:
        type: integer
        format: int64
        example: 1600000000000
        description: The update timestamp.
      modifier:
        $ref: '#/definitions/UserSimpleInfoVo'
      noiseReductionLink:
        type: string
        description: the audio reduction link
      orgName:
        type: string
      orgUuid:
        type: string
      outro:
        $ref: '#/definitions/Outro'
      ownerAvatar:
        type: string
      ownerName:
        type: string
      ownerUuid:
        type: string
      parentProjectUuid:
        type: string
      personalStock:
        type: boolean
      playbackLink:
        type: string
      privateStockNeedReview:
        type: boolean
      privateStockStatus:
        type: string
        enum:
          - completed
          - completed_for_review
          - free_user_processing
          - not_private_stock
          - processing
          - processing_error
      processResult:
        description: the process result of project asset
        $ref: '#/definitions/ProcessResultVo'
      role:
        type: string
      shareInfo:
        $ref: '#/definitions/ShareInfo'
      shareLink:
        type: string
      sourceType:
        type: string
        enum:
          - downloaded_from_external
          - export_video
          - quick_capture
          - self_recording
          - step_video_screenshot
          - uploaded_from_local
      speed:
        type: number
      starred:
        type: boolean
      tagList:
        type: array
        description: Assets tags
        items:
          type: string
      teamspace:
        $ref: '#/definitions/TeamspaceSimpleInfoVo'
      teamspaceName:
        type: string
      teamspaceUuid:
        type: string
      thumbnailLink:
        type: string
      title:
        type: string
      useNoiseReduction:
        type: boolean
      videoshot:
        $ref: '#/definitions/ObjectNode'
      viewTimes:
        type: integer
        format: int32
      watermark:
        $ref: '#/definitions/Watermark'
      waveAudioLink:
        type: string
        description: the wave audio link
      width:
        type: integer
        format: int32
    title: ClipInfoVo
    description: Basic information of the clip
  ClipTranscriptVo:
    type: object
    properties:
      transcript:
        $ref: '#/definitions/ObjectNode'
    title: ClipTranscriptVo
    description: Clip transcript of the clip
  DownloadMediaReqBody:
    type: object
    required:
      - downloadLink
    properties:
      categoryType:
        type: string
        description: 'The asset category, set it when downloading media as project asset'
        enum:
          - background_music
          - footage
          - intro
          - main_story
          - outro
          - record_voice_over
          - story_audio
          - synthetic_voice_over
          - uncategorized
          - visual_asset
      description:
        type: string
        example: true
        description: description
      downloadLink:
        type: string
        minLength: 0
        maxLength: 250
        pattern: >-
          ^(https:\/\/)((?:www|m)\.)?((?:youtube\.com|youtu.be))(\/(?:[\w\-]+\?v=|embed\/|v\/)?)([\w\-]+)(\S+)?$
      privateStock:
        type: boolean
        example: true
        description: privateStock
      tags:
        type: array
        example: 'tag1,tag2'
        description: tags
        items:
          type: string
    title: DownloadMediaReqBody
  ExtractAndMergeClipReqBody:
    type: object
    properties:
      extractList:
        type: array
        description: extract time ranger list
        items:
          $ref: '#/definitions/TimePeriod'
      needMerge:
        type: boolean
        description: merge/individual
    title: ExtractAndMergeClipReqBody
    description: Extract clip requests body
  FeePlanVo:
    type: object
    properties:
      addonName:
        type: string
      addonType:
        type: integer
        format: int32
      paymentPlatform:
        type: integer
        format: int32
      planName:
        type: string
      planType:
        type: integer
        format: int32
      subscribeId:
        type: string
      vipTemp:
        type: boolean
    title: FeePlanVo
  FolderSimpleInfoVo:
    type: object
    properties:
      folderName:
        type: string
      folderUuid:
        type: string
    title: FolderSimpleInfoVo
  NewClipReqBody:
    type: object
    required:
      - clipLink
      - clipType
      - clipUuid
      - title
    properties:
      audioSamplingRate:
        type: integer
        format: int32
        example: 22
        description: audioSamplingRate
      clipLink:
        type: string
        example: '***'
        description: clipLink
      clipStatus:
        type: string
        example: init
        description: clipStatus
        enum:
          - completed
          - downloading
          - failed
          - init
          - processing
          - publishing
          - uploading
      clipType:
        type: string
        example: video
        description: video;audio;image
      clipUuid:
        type: string
        example: 2c000dv2nk224g00a6
        description: clipUuid
      duration:
        type: integer
        format: int32
        example: 22
        description: duration
      height:
        type: integer
        format: int32
        example: 111
        description: height
      needAsr:
        type: boolean
        example: true
        description: needAsr
      privateStock:
        type: boolean
        example: true
        description: privateStock
      stereoAudio:
        type: integer
        format: int32
        example: 11
        description: stereoAudio
      thumbnailLink:
        type: string
        example: '***'
        description: thumbnailLink
      title:
        type: string
        example: title
        description: title
      width:
        type: integer
        format: int32
        example: 111
        description: width
    title: NewClipReqBody
    description: new clip req body
  ObjectNode:
    type: object
    title: ObjectNode
  OpenAiCreateVideoByUrlReqBody:
    type: object
    required:
      - url
      - video_metadata
    properties:
      target_video_description:
        type: string
        example: step to step tutorial video on how to master Java
        description: User's description of the target video.
      url:
        type: string
        example: 'https://themeisle.com/blog/history-of-blogging'
        description: The blog url address
      video_metadata:
        description: 'Video metadata (including title, description, and tags)'
        $ref: '#/definitions/OpenAiCreateVideoMetadata'
    title: OpenAiCreateVideoByUrlReqBody
    description: >-
      This request body to create a Visla video by inputing valid URL of the
      webpage, and optional description of the target video
  OpenAiCreateVideoMetadata:
    type: object
    properties:
      description:
        type: string
        example: >-
          Join us on this motivational journey where we tackle the issue of
          self-doubt, using inspiring quotes, powerful imagery, and uplifting
          music. Let's boost your self-confidence and reshape your perspective
          towards life.
        description: >-
          A detailed summary of the video's content. This is typically used to
          provide more information about the video, such as the topics covered,
          featured guests or locations, or the purpose of the video. It also
          often includes keywords to help viewers find the video through search.
      tags:
        type: array
        example:
          - Self-Doubt
          - Motivation
          - Inspiration
          - Self-Belief
          - Personal Growth
        description: >-
          Tags or keywords associated with the video. These are used to help
          categorize the video and make it more discoverable to users searching
          for related content. Tags can be single words or short phrases related
          to the video's subject, theme, or context.
        items:
          type: string
      title:
        type: string
        example: 'Mastering Self-Doubt: A Journey Towards Self-Belief'
        description: >-
          The name or title of the video. It is a concise summary that reflects
          the content of the video and is typically used to attract viewer's
          attention and provide a clue about the video's content.
    title: OpenAiCreateVideoMetadata
    description: ChatGPT Plugin Create Video Metadata
  OpenApiBgmOptionsNode:
    type: object
    properties:
      use_free_stocks:
        type: boolean
        example: true
        description: 'true/false, whether to use free stocks in the video creation'
      use_premium_stocks:
        type: boolean
    title: OpenApiBgmOptionsNode
    description: Recommend BGM Options
  OpenApiCreateVideoByScriptReqBody:
    type: object
    required:
      - script
    properties:
      completion_webhook:
        type: string
        example: >-
          https://xyz.com/hooks/callback/123/abcdef01-2345-6789-abcd-ef0123456789/abcdef0123456789abcdef0123456789abcdef01
        description: >-
          third-party site callback url to call after video creation is
          completed in Visla
      script:
        type: string
        example: 'This is a sample script text, blahblah'
        description: >-
          The video script or voiceover audio descript for the video, which can
          be up to 10000 characters long
        minLength: 0
        maxLength: 10000
      target_video_description:
        type: string
        example: Fast-paced video for TikTok. Dynamic transitions and vibrant pacing.
        description: User's description of the target video.
        minLength: 0
        maxLength: 1000
      use_personal_stock:
        type: boolean
        example: false
        description: whether to use personal stock in the video creation
    title: OpenApiCreateVideoByScriptReqBody
    description: This request body to create a Visla video by inputing video script
  OpenApiFootageOptionsNode:
    type: object
    properties:
      use_free_stocks:
        type: boolean
      use_premium_stocks:
        type: boolean
      use_premium_stocks_getty:
        type: boolean
      use_private_stocks:
        type: boolean
        example: true
        description: 'true/false, whether to use private stocks in the video creation'
    title: OpenApiFootageOptionsNode
    description: Recommend Footage Options
  OpenApiScriptToVideoReqBody:
    type: object
    required:
      - script
    properties:
      bgm_options:
        example: {}
        description: search footage options
        $ref: '#/definitions/OpenApiBgmOptionsNode'
      completion_webhook:
        type: string
        example: >-
          https://xyz.com/hooks/callback/123/abcdef01-2345-6789-abcd-ef0123456789/abcdef0123456789abcdef0123456789abcdef01
        description: >-
          third-party site callback url to call after video creation is
          completed in Visla
      footage_options:
        example: {}
        description: search footage options
        $ref: '#/definitions/OpenApiFootageOptionsNode'
      script:
        type: string
        example: 'This is a sample script text, blahblah'
        description: >-
          The video script or voiceover audio descript for the video, which can
          be up to 10000 characters long
        minLength: 0
        maxLength: 10000
      target_video:
        example: {}
        description: >-
          Any requirements that are not included in target_video node, such as
          music genre etc. Default if not specified: empty string
        $ref: '#/definitions/OpenApiTargetVideoPropertiesNode'
    title: OpenApiScriptToVideoReqBody
    description: >-
      This request body to create a Visla video by inputing video script and
      other optional parameters
  OpenApiTargetVideoPropertiesNode:
    type: object
    properties:
      aspect_ratio:
        type: string
        example: '16:9'
        description: 'enum string: 16:9, 9:16, 1:1, default if unspecified: 16:9'
      burn_subtitles:
        type: boolean
      video_pace:
        type: string
    title: OpenApiTargetVideoPropertiesNode
    description: Target Video Properties
  OpenApiTranscriptBody:
    type: object
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/OpenApiTranscriptItem'
    title: OpenApiTranscriptBody
  OpenApiTranscriptItem:
    type: object
    properties:
      content:
        type: string
      end_time:
        type: number
        format: double
      start_time:
        type: number
        format: double
      type:
        type: string
    title: OpenApiTranscriptItem
  OpenapiUpdateClipTranscriptReqBody:
    type: object
    properties:
      transcript:
        $ref: '#/definitions/OpenApiTranscriptBody'
    title: OpenapiUpdateClipTranscriptReqBody
  OrgInfo:
    type: object
    properties:
      isOrgWorkspace:
        type: boolean
      orgName:
        type: string
      orgUuid:
        type: string
    title: OrgInfo
  Outro:
    type: object
    properties:
      duration:
        type: integer
        format: int32
      outroLink:
        type: string
      padColor:
        type: string
      useOutro:
        type: boolean
    title: Outro
  PageData«ClipInfoVo»:
    type: object
    properties:
      ext:
        $ref: '#/definitions/ObjectNode'
      list:
        type: array
        items:
          $ref: '#/definitions/ClipInfoVo'
      paging:
        $ref: '#/definitions/Paging'
    title: PageData«ClipInfoVo»
    description: page data
  PageData«ProjectVo»:
    type: object
    properties:
      ext:
        $ref: '#/definitions/ObjectNode'
      list:
        type: array
        items:
          $ref: '#/definitions/ProjectVo'
      paging:
        $ref: '#/definitions/Paging'
    title: PageData«ProjectVo»
    description: page data
  Paging:
    type: object
    properties:
      endRow:
        type: integer
        format: int64
      hasMore:
        type: boolean
      size:
        type: integer
        format: int64
      startRow:
        type: integer
        format: int64
      total:
        type: integer
        format: int64
    title: Paging
  PrivateStockSelectVo:
    type: object
    properties:
      selected:
        type: boolean
      teamspace:
        $ref: '#/definitions/TeamspaceSimpleInfoVo'
      type:
        type: string
    title: PrivateStockSelectVo
  ProcessResultVo:
    type: object
    properties:
      metadata:
        $ref: '#/definitions/ActionResult'
      noiseLvlControl:
        $ref: '#/definitions/ActionResult'
      playback:
        $ref: '#/definitions/ActionResult'
      scale:
        $ref: '#/definitions/ActionResult'
      separate:
        $ref: '#/definitions/ActionResult'
      standardization:
        $ref: '#/definitions/ActionResult'
      thumbnail:
        $ref: '#/definitions/ActionResult'
      transcript:
        $ref: '#/definitions/AssetTranscript'
    title: ProcessResultVo
  ProjectAssetResolutionVo:
    type: object
    properties:
      link:
        type: string
        description: resolution link url
      resolution:
        type: string
        description: ld/sd/hd/fhd/4k
    title: ProjectAssetResolutionVo
    description: The Project Asset Resolution Vo
  ProjectAssetUploadReqBody:
    type: object
    properties:
      assetLink:
        type: string
        example: 'http://test.visla.us/abc.mp4'
        description: Asset link
      assetType:
        type: string
        description: Asset Type
        enum:
          - composed_by_sequence
          - downloaded_from_external
          - export_video
          - generated_by_ai
          - group_recording
          - imported_from_integrate
          - imported_from_library
          - imported_from_personal_stock
          - imported_from_recommendation
          - imported_from_sharing
          - imported_from_stock
          - quick_capture
          - scene_synthetic_voice_over
          - scene_voice_over
          - self_recording
          - step_video_pictures
          - uploaded_from_local
      assetUuid:
        type: string
        example: abc
        description: Asset UUID
      categoryType:
        type: string
        description: Asset category
        enum:
          - background_music
          - footage
          - intro
          - main_story
          - outro
          - record_voice_over
          - story_audio
          - synthetic_voice_over
          - uncategorized
          - visual_asset
      description:
        type: string
        example: This is a description
        description: Description of asset
      mediaType:
        type: string
        description: Media Type
      sourceMd5:
        type: string
      tagList:
        type: array
        description: Assets tags
        items:
          type: string
      title:
        type: string
        example: A title
        description: Asset title
        minLength: 0
        maxLength: 200
    title: ProjectAssetUploadReqBody
    description: Request body of adding a uploaded asset to project
  ProjectAssetVo:
    type: object
    properties:
      assetCount:
        type: integer
        format: int32
        description: The asset count of this sequence contains.
      assetLink:
        type: string
        description: The Asset link
      assetType:
        type: string
        enum:
          - composed_by_sequence
          - downloaded_from_external
          - export_video
          - generated_by_ai
          - group_recording
          - imported_from_integrate
          - imported_from_library
          - imported_from_personal_stock
          - imported_from_recommendation
          - imported_from_sharing
          - imported_from_stock
          - quick_capture
          - scene_synthetic_voice_over
          - scene_voice_over
          - self_recording
          - step_video_pictures
          - uploaded_from_local
      assetUuid:
        type: string
        description: Asset UUID
      audioDetect:
        type: string
        description: init/need_asr/not_need_asr
        enum:
          - init
          - need_asr
          - not_need_asr
      audioLink:
        type: string
        description: the audio link
      capabilities:
        type: object
        description: '{canStar: true, canEdit: true, canShare: true,…}'
        additionalProperties:
          type: boolean
      categoryType:
        type: string
        enum:
          - background_music
          - footage
          - intro
          - main_story
          - outro
          - record_voice_over
          - story_audio
          - synthetic_voice_over
          - uncategorized
          - visual_asset
      createdAt:
        type: integer
        format: int64
        example: 1600000000000
        description: The create time of this record
      credit:
        type: string
        description: Credit
      description:
        type: string
        description: The description
      duration:
        type: integer
        format: int32
        description: Duration
      entityType:
        type: string
        description: entity type
        enum:
          - clip
          - custom_voice
          - folder
          - gettyimages
          - pexels
          - pictures
          - project
          - projectAsset
          - project_group
          - project_group_media
          - project_video
          - sequence
          - stock_audio
          - stock_media
          - storyblocks
          - teamspace
          - user
          - visla_media
          - voice
          - workspace
      entityUuid:
        type: string
        description: media uuid
      height:
        type: integer
        format: int32
        description: Height
      mainStoryOrder:
        type: integer
        format: int32
        description: The main sort order of each Main Story
      mark:
        type: object
        description: the mark of project asset
      mediaType:
        type: string
        enum:
          - all
          - audio
          - image
          - video
      microPreviewLink:
        type: string
        description: the micro preivew link.
      moderateStatus:
        type: string
        enum:
          - approved
          - pending
          - rejected
      modifiedAt:
        type: integer
        format: int64
        example: 1600000000000
        description: The modify time of this record
      ownerAvatar:
        type: string
        example: 'http://www.xxx.us.abc.jpg'
        description: The Project Asset Owner avatar
      ownerName:
        type: string
        example: abc
        description: The Project Asset Owner Name
      ownerUuid:
        type: string
        description: The Asset Owner UUID
      playbackLink:
        type: string
        description: the m3u8 link of project asset
      processResult:
        description: the process result of project asset
        $ref: '#/definitions/ProcessResultVo'
      processStatus:
        type: string
        enum:
          - completed
          - downloading
          - failed
          - init
          - processing
          - publishing
          - uploading
      projectTakeId:
        type: integer
        format: int32
        description: The Project Take ID
      projectUuid:
        type: string
        description: The Project UUID
      providerId:
        type: string
        description: The provider id
        enum:
          - Getty Images
          - free-stock-music
          - none
          - pexels
          - pixabay
          - storyblocks
      providerInfo:
        description: providerInfo
        $ref: '#/definitions/ProviderInfoVo'
      recordingUuid:
        type: string
        description: The Project Recording UUID
      resolutions:
        type: array
        description: Asset resolutions
        items:
          $ref: '#/definitions/ProjectAssetResolutionVo'
      role:
        type: string
        example: viewer
        description: role
        enum:
          - contributor
          - manager
          - viewer
      sequence:
        type: boolean
      sequenceUuid:
        type: string
        description: The Project Asset Group UUID
      sourceClipUuid:
        type: string
        description: The sourceClip UUID
      sourceEntityUuid:
        type: string
        description: The sourceEntity UUID
      speed:
        type: number
        description: the play speed
      starred:
        type: boolean
        description: 'false'
      status:
        type: string
        description: 'Status: active, deleted'
        enum:
          - active
          - created
          - deleted
          - inactive
          - trashed
      tagList:
        type: array
        description: Assets tags
        items:
          type: string
      thumbnailLink:
        type: string
        description: the thumbnail link.
      title:
        type: string
        description: The title of this Asset
      usedInDraftVideo:
        type: boolean
        description: true/false
      usedTimesInTimeline:
        type: integer
        format: int32
        description: how many times used in project timeline
      videoshot:
        description: videoshot
        $ref: '#/definitions/ObjectNode'
      waveAudioLink:
        type: string
        description: the wave audio link
      width:
        type: integer
        format: int32
        description: Width
    title: ProjectAssetVo
    description: The response of Project Asset APIs
  ProjectBrollPacingBo:
    type: object
    properties:
      duration:
        type: integer
        format: int32
      gap:
        type: integer
        format: int32
      selected:
        type: boolean
      type:
        type: string
        enum:
          - custom
          - fast
          - moderate
          - optimal
          - slow
    title: ProjectBrollPacingBo
  ProjectLockVo:
    type: object
    properties:
      isLocked:
        type: boolean
      projectUuid:
        type: string
      userAvatar:
        type: string
      userEmail:
        type: string
      userName:
        type: string
      userUuid:
        type: string
    title: ProjectLockVo
  ProjectRecommendConfVo:
    type: object
    properties:
      brollPacing:
        type: array
        items:
          $ref: '#/definitions/ProjectBrollPacingBo'
      privateStocks:
        type: array
        items:
          $ref: '#/definitions/PrivateStockSelectVo'
      useAiImage:
        type: boolean
      useFreeBgm:
        type: boolean
      useFreeStock:
        type: boolean
      useGettyStock:
        type: boolean
      usePersonalStock:
        type: boolean
      usePremiumBgm:
        type: boolean
      usePremiumStock:
        type: boolean
      usePubStock:
        type: boolean
    title: ProjectRecommendConfVo
  ProjectVo:
    type: object
    properties:
      aiGenerateVoiceStatus:
        type: string
        enum:
          - failure
          - no_data
          - normal
          - processing
      aiRecommendStatus:
        type: string
        enum:
          - failure
          - normal
          - processing
          - processing_blog
          - processing_translation
          - processing_voice_align
      aiSummaryStatus:
        type: string
        enum:
          - failure
          - normal
          - processing
      capabilities:
        type: object
        description: '{canStar: true, canEdit: true, canShare: true,…}'
        additionalProperties:
          type: boolean
      claimedStatus:
        type: boolean
        description: true/false
      commentCnt:
        type: integer
        format: int32
      createdAt:
        type: integer
        format: int64
        example: 1600000000000
        description: The create time of this record
      creationTemplate:
        type: string
        example: Video with Voice/Text-to-Video
        description: Project Video Creation Template
        enum:
          - audio-to-video
          - blog-to-video
          - idea-to-video
          - speech-to-video
          - step-to-video
          - text-to-video
          - video-with-voice
          - visual-to-video
      creator:
        $ref: '#/definitions/UserSimpleInfoVo'
      description:
        type: string
        example: This is my first project
        description: The Project Description
      feePlan:
        $ref: '#/definitions/FeePlanVo'
      folder:
        example: abc
        description: The Folder Info
        $ref: '#/definitions/FolderSimpleInfoVo'
      folderUuid:
        type: string
        example: 1024102310221021
        description: Folder UUID
      hasAICreatedVideo:
        type: boolean
        description: true/false
      hasSelfRecordingUnsaved:
        type: boolean
        description: true/false
      isEditing:
        type: boolean
        description: true/false
      isSharedWithMe:
        type: boolean
      language:
        type: string
      lastProgressStatus:
        type: string
        enum:
          - draft_video
          - editing
          - error
          - final_enhancement
          - generated_videos
          - init
          - ongoing
          - preparation
          - rough_cut
          - select_main_story
          - supplemental_footage
      lockInfo:
        $ref: '#/definitions/ProjectLockVo'
      modifiedAt:
        type: integer
        format: int64
        example: 1600000000000
        description: The update timestamp.
      modifier:
        $ref: '#/definitions/UserSimpleInfoVo'
      name:
        type: string
        example: My Project
        description: The Project Name
      orgName:
        type: string
        example: abc
        description: The Project Owner's org Name
      orgUuid:
        type: string
        example: abc
        description: The Project Owner's org Uuid
      ownerAvatar:
        type: string
        example: 'http://www.xxx.us.abc.jpg'
        description: The Project Owner avatar
      ownerName:
        type: string
        example: abc
        description: The Project Owner Name
      ownerUuid:
        type: string
        example: abc
        description: The Project Owner UUID
      progressStatus:
        type: string
        enum:
          - draft_video
          - editing
          - error
          - final_enhancement
          - generated_videos
          - init
          - ongoing
          - preparation
          - rough_cut
          - select_main_story
          - supplemental_footage
      projectUuid:
        type: string
        example: abc
        description: The Project UUID
      publishPlatform:
        type: string
      role:
        type: string
        description: viewer/contributor/manager/owner
      scriptMode:
        type: string
        example: 1
        description: The Project Script Mode
        enum:
          - advanced_mode
          - basic_mode
          - non
      shareInfo:
        $ref: '#/definitions/ShareInfo'
      shareLink:
        type: string
        example: 'http://www.xxx.us/yyyy'
        description: The Project sharing link
      shareWithPlugin:
        type: boolean
      sourcePlatform:
        type: string
        enum:
          - adobe_express
          - canva
          - chat_gpt
          - openapi
          - visla
          - visla_www
          - zapier
      starred:
        type: boolean
        description: true/false
      syntheticAll:
        type: boolean
      teamspace:
        example: abc
        description: The Teamspace Info belong to
        $ref: '#/definitions/TeamspaceSimpleInfoVo'
      teamspaceUuid:
        type: string
        example: 1024102310221021
        description: Teamspace UUID
      thumbnailLink:
        type: string
        example: 'http://www.xxx.us/abc.jpg'
        description: The Project thumbnail link
      version:
        type: integer
        format: int32
        example: 1
        description: The Project version
      vesStatus:
        type: string
        enum:
          - ai_editing
          - failure
          - normal
          - self_editing
      videoFormat:
        type: integer
        format: int32
      viewTimes:
        type: integer
        format: int32
    title: ProjectVo
    description: Basic information of the project
  ProviderInfoVo:
    type: object
    properties:
      license:
        type: string
        description: 'license: enum'
        enum:
          - CC BY 3.0
          - CC BY 4.0
          - CC0
          - Getty Images
          - free
          - storyblocks
      licenseDes:
        type: string
        description: The description of stock media license.
      licenseLink:
        type: string
        description: The link of stock media license information.
      providerCode:
        type: string
        description: provider code
        enum:
          - Getty Images
          - free-stock-music
          - none
          - pexels
          - pixabay
          - storyblocks
      providerLink:
        type: string
        description: provider code
    title: ProviderInfoVo
  Result«AllInOneProjectIdeaAndAudioVo»:
    type: object
    properties:
      code:
        type: integer
        format: int32
        example: 0
        description: result code
      data:
        $ref: '#/definitions/AllInOneProjectIdeaAndAudioVo'
      msg:
        type: string
        example: success
        description: result message
      trackingId:
        type: string
        example: 0af7651916cd43dd8448eb211c80319c
        description: trace id
    title: Result«AllInOneProjectIdeaAndAudioVo»
    description: result object
  Result«ClipDownloadVo»:
    type: object
    properties:
      code:
        type: integer
        format: int32
        example: 0
        description: result code
      data:
        $ref: '#/definitions/ClipDownloadVo'
      msg:
        type: string
        example: success
        description: result message
      trackingId:
        type: string
        example: 0af7651916cd43dd8448eb211c80319c
        description: trace id
    title: Result«ClipDownloadVo»
    description: result object
  Result«ClipInfoVo»:
    type: object
    properties:
      code:
        type: integer
        format: int32
        example: 0
        description: result code
      data:
        $ref: '#/definitions/ClipInfoVo'
      msg:
        type: string
        example: success
        description: result message
      trackingId:
        type: string
        example: 0af7651916cd43dd8448eb211c80319c
        description: trace id
    title: Result«ClipInfoVo»
    description: result object
  Result«ClipTranscriptVo»:
    type: object
    properties:
      code:
        type: integer
        format: int32
        example: 0
        description: result code
      data:
        $ref: '#/definitions/ClipTranscriptVo'
      msg:
        type: string
        example: success
        description: result message
      trackingId:
        type: string
        example: 0af7651916cd43dd8448eb211c80319c
        description: trace id
    title: Result«ClipTranscriptVo»
    description: result object
  Result«List«ClipInfoVo»»:
    type: object
    properties:
      code:
        type: integer
        format: int32
        example: 0
        description: result code
      data:
        type: array
        items:
          $ref: '#/definitions/ClipInfoVo'
      msg:
        type: string
        example: success
        description: result message
      trackingId:
        type: string
        example: 0af7651916cd43dd8448eb211c80319c
        description: trace id
    title: Result«List«ClipInfoVo»»
    description: result object
  Result«List«TeamspaceInfoVo»»:
    type: object
    properties:
      code:
        type: integer
        format: int32
        example: 0
        description: result code
      data:
        type: array
        items:
          $ref: '#/definitions/TeamspaceInfoVo'
      msg:
        type: string
        example: success
        description: result message
      trackingId:
        type: string
        example: 0af7651916cd43dd8448eb211c80319c
        description: trace id
    title: Result«List«TeamspaceInfoVo»»
    description: result object
  Result«List«WorkspaceInfoVo»»:
    type: object
    properties:
      code:
        type: integer
        format: int32
        example: 0
        description: result code
      data:
        type: array
        items:
          $ref: '#/definitions/WorkspaceInfoVo'
      msg:
        type: string
        example: success
        description: result message
      trackingId:
        type: string
        example: 0af7651916cd43dd8448eb211c80319c
        description: trace id
    title: Result«List«WorkspaceInfoVo»»
    description: result object
  'Result«Map«string,object»»':
    type: object
    properties:
      code:
        type: integer
        format: int32
        example: 0
        description: result code
      data:
        type: object
      msg:
        type: string
        example: success
        description: result message
      trackingId:
        type: string
        example: 0af7651916cd43dd8448eb211c80319c
        description: trace id
    title: 'Result«Map«string,object»»'
    description: result object
  Result«PageData«ClipInfoVo»»:
    type: object
    properties:
      code:
        type: integer
        format: int32
        example: 0
        description: result code
      data:
        $ref: '#/definitions/PageData«ClipInfoVo»'
      msg:
        type: string
        example: success
        description: result message
      trackingId:
        type: string
        example: 0af7651916cd43dd8448eb211c80319c
        description: trace id
    title: Result«PageData«ClipInfoVo»»
    description: result object
  Result«PageData«ProjectVo»»:
    type: object
    properties:
      code:
        type: integer
        format: int32
        example: 0
        description: result code
      data:
        $ref: '#/definitions/PageData«ProjectVo»'
      msg:
        type: string
        example: success
        description: result message
      trackingId:
        type: string
        example: 0af7651916cd43dd8448eb211c80319c
        description: trace id
    title: Result«PageData«ProjectVo»»
    description: result object
  Result«ProjectAssetVo»:
    type: object
    properties:
      code:
        type: integer
        format: int32
        example: 0
        description: result code
      data:
        $ref: '#/definitions/ProjectAssetVo'
      msg:
        type: string
        example: success
        description: result message
      trackingId:
        type: string
        example: 0af7651916cd43dd8448eb211c80319c
        description: trace id
    title: Result«ProjectAssetVo»
    description: result object
  Result«ProjectVo»:
    type: object
    properties:
      code:
        type: integer
        format: int32
        example: 0
        description: result code
      data:
        $ref: '#/definitions/ProjectVo'
      msg:
        type: string
        example: success
        description: result message
      trackingId:
        type: string
        example: 0af7651916cd43dd8448eb211c80319c
        description: trace id
    title: Result«ProjectVo»
    description: result object
  Result«TeamspaceInfoVo»:
    type: object
    properties:
      code:
        type: integer
        format: int32
        example: 0
        description: result code
      data:
        $ref: '#/definitions/TeamspaceInfoVo'
      msg:
        type: string
        example: success
        description: result message
      trackingId:
        type: string
        example: 0af7651916cd43dd8448eb211c80319c
        description: trace id
    title: Result«TeamspaceInfoVo»
    description: result object
  Result«UploadAssetParamVo»:
    type: object
    properties:
      code:
        type: integer
        format: int32
        example: 0
        description: result code
      data:
        $ref: '#/definitions/UploadAssetParamVo'
      msg:
        type: string
        example: success
        description: result message
      trackingId:
        type: string
        example: 0af7651916cd43dd8448eb211c80319c
        description: trace id
    title: Result«UploadAssetParamVo»
    description: result object
  Result«UserVo»:
    type: object
    properties:
      code:
        type: integer
        format: int32
        example: 0
        description: result code
      data:
        $ref: '#/definitions/UserVo'
      msg:
        type: string
        example: success
        description: result message
      trackingId:
        type: string
        example: 0af7651916cd43dd8448eb211c80319c
        description: trace id
    title: Result«UserVo»
    description: result object
  Result«WorkspaceInfoVo»:
    type: object
    properties:
      code:
        type: integer
        format: int32
        example: 0
        description: result code
      data:
        $ref: '#/definitions/WorkspaceInfoVo'
      msg:
        type: string
        example: success
        description: result message
      trackingId:
        type: string
        example: 0af7651916cd43dd8448eb211c80319c
        description: trace id
    title: Result«WorkspaceInfoVo»
    description: result object
  Result«int»:
    type: object
    properties:
      code:
        type: integer
        format: int32
        example: 0
        description: result code
      data:
        type: integer
        format: int32
      msg:
        type: string
        example: success
        description: result message
      trackingId:
        type: string
        example: 0af7651916cd43dd8448eb211c80319c
        description: trace id
    title: Result«int»
    description: result object
  ShareInfo:
    type: object
    properties:
      role:
        type: string
      scope:
        type: string
        enum:
          - anyoneWithLink
          - anyoneWithinOrg
          - private
          - restrictedAccess
    title: ShareInfo
  TeamspaceInfoVo:
    type: object
    properties:
      accessScope:
        type: string
        enum:
          - closed
          - default
          - open
          - private
          - special private
      allowMemberInvite:
        type: boolean
      capabilities:
        type: object
        additionalProperties:
          type: boolean
      createdAt:
        type: string
        format: date-time
      creatorUuid:
        type: string
      description:
        type: string
      isDefault:
        type: boolean
      isPrivate:
        type: boolean
      joinTime:
        type: string
        format: date-time
      memberCount:
        type: integer
        format: int32
      members:
        type: array
        items:
          $ref: '#/definitions/TeamspaceMemberVo'
      modifiedAt:
        type: string
        format: date-time
      name:
        type: string
      ownerCount:
        type: integer
        format: int32
      owners:
        type: array
        items:
          $ref: '#/definitions/TeamspaceMemberVo'
      role:
        type: string
        enum:
          - guest
          - member
          - owner
      status:
        type: string
        enum:
          - active
          - created
          - deleted
          - inactive
          - trashed
      teamspaceUuid:
        type: string
      workspaceName:
        type: string
      workspaceUuid:
        type: string
    title: TeamspaceInfoVo
    description: Teamspace Basic Information
  TeamspaceMemberVo:
    type: object
    properties:
      joinTime:
        type: string
        format: date-time
      leaveTime:
        type: string
        format: date-time
      role:
        type: string
        enum:
          - guest
          - member
          - owner
      status:
        type: string
        enum:
          - active
          - created
          - deleted
          - inactive
          - trashed
      teamspaceUuid:
        type: string
      userAvatar:
        type: string
      userEmail:
        type: string
      userName:
        type: string
      userUuid:
        type: string
    title: TeamspaceMemberVo
  TeamspaceSimpleInfoVo:
    type: object
    properties:
      accessScope:
        type: string
        enum:
          - closed
          - default
          - open
          - private
          - special private
      creatorUuid:
        type: string
      description:
        type: string
      name:
        type: string
      status:
        type: string
        enum:
          - active
          - created
          - deleted
          - inactive
          - trashed
      teamspaceUuid:
        type: string
      workspaceName:
        type: string
      workspaceUuid:
        type: string
    title: TeamspaceSimpleInfoVo
    description: Teamspace Simple Information
  TimePeriod:
    type: object
    properties:
      end:
        type: integer
        format: int32
        minimum: 0
        exclusiveMinimum: false
      start:
        type: integer
        format: int32
        minimum: 0
        exclusiveMinimum: false
    title: TimePeriod
  UploadAssetParamVo:
    type: object
    properties:
      resourceUuid:
        type: string
        example: abc
        description: The Asset UUID.
      uploadUrl:
        type: string
        example: 'http://api.visla.us/xxxxx.mp4'
        description: The URL to upload this Assets.
    title: UploadAssetParamVo
    description: The request body of Upload Assets to a Project.
  UserOrgInfoVo:
    type: object
    properties:
      isOrgAdmin:
        type: boolean
      isOrgUser:
        type: boolean
      orgName:
        type: string
      orgUuid:
        type: string
      status:
        type: integer
        format: int32
    title: UserOrgInfoVo
  UserQuotaVo:
    type: object
    properties:
      aiCaptionTimeLimit:
        type: integer
        format: int64
      aiCaptionTimeUsed:
        type: integer
        format: int64
      aiTextCharsLimit:
        type: integer
        format: int64
      aiTextCharsUsed:
        type: integer
        format: int64
      creationTimeLimit:
        type: integer
        format: int64
      creationTimeUsed:
        type: integer
        format: int64
      privateStockTimeLimit:
        type: integer
        format: int64
      privateStockTimeUsed:
        type: integer
        format: int64
      storageLimit:
        type: integer
        format: int64
      storageUsed:
        type: integer
        format: int64
      syntheticVoiceCharsLimit:
        type: integer
        format: int64
      syntheticVoiceCharsUsed:
        type: integer
        format: int64
      transcriptionTimeLimit:
        type: integer
        format: int64
      transcriptionTimeUsed:
        type: integer
        format: int64
    title: UserQuotaVo
  UserSimpleInfoVo:
    type: object
    properties:
      userAvatar:
        type: string
      userEmail:
        type: string
      userName:
        type: string
      userUuid:
        type: string
    title: UserSimpleInfoVo
  UserVo:
    type: object
    properties:
      aiImageEnabled:
        type: boolean
      avatar:
        type: string
      createdAt:
        type: integer
        format: int64
        example: 1600000000000
        description: The create time of this record
      defaultWorkspaceUuid:
        type: string
      devInfo:
        type: string
      devType:
        type: string
        enum:
          - android
          - ios
          - mac
          - web_client
          - web_portal
          - windows
      email:
        type: string
      emailDomain:
        type: string
      familyName:
        type: string
      feePlan:
        $ref: '#/definitions/FeePlanVo'
      givenName:
        type: string
      isSSOUser:
        type: boolean
      loginTime:
        type: integer
        format: int64
        example: 1600000000000
        description: The login time
      macAddress:
        type: string
      mobile:
        type: string
      modifiedAt:
        type: integer
        format: int64
        example: 1600000000000
        description: The update timestamp.
      myTeamspaceUuid:
        type: string
      notificationUrl:
        type: string
      orgInfo:
        $ref: '#/definitions/UserOrgInfoVo'
      orgName:
        type: string
      orgUuid:
        type: string
      pwdEnabled:
        type: boolean
      quota:
        $ref: '#/definitions/UserQuotaVo'
      refreshToken:
        type: string
      regTime:
        type: integer
        format: int64
        example: 1600000000000
        description: The register time
      regType:
        type: string
        enum:
          - apple_oauth
          - email_password
          - google_oauth
          - sso_oauth
      termsAgreed:
        type: boolean
      termsUrl:
        type: string
      thirdpartyUuid:
        type: string
      tokenExpireAt:
        type: integer
        format: int64
        example: 1600000000000
        description: The token of expireAt
      userStatus:
        type: string
        enum:
          - active
          - disabled
          - inactive
      userUuid:
        type: string
      vipTempUser:
        type: boolean
      visToken:
        type: string
      workEmailFlag:
        type: boolean
    title: UserVo
    description: Basic information of the user
  Watermark:
    type: object
    properties:
      position:
        type: string
      useInEmbedPlayer:
        type: boolean
      useWatermark:
        type: boolean
      watermarkLink:
        type: string
    title: Watermark
  WorkspaceInfoVo:
    type: object
    properties:
      addonPlans:
        type: array
        items:
          $ref: '#/definitions/FeePlanVo'
      allowFindByDomain:
        type: boolean
      allowMemberInvite:
        type: boolean
      asrEnabled:
        type: boolean
      asrModel:
        type: string
        enum:
          - basic
          - premium
      avatar:
        type: string
      billingEmail:
        type: string
      capabilities:
        type: object
        additionalProperties:
          type: boolean
      createTsEnabled:
        type: boolean
      createdAt:
        type: string
        format: date-time
      creatorUuid:
        type: string
      description:
        type: string
      emailDomains:
        type: array
        items:
          type: string
      feePlan:
        $ref: '#/definitions/FeePlanVo'
      inviteLink:
        type: string
      inviteLinkEnabled:
        type: boolean
      joinTime:
        type: string
        format: date-time
      memberCount:
        type: integer
        format: int32
      memberRole:
        type: string
        enum:
          - guest
          - member
          - owner
      modifiedAt:
        type: string
        format: date-time
      monthlyCredit:
        type: integer
[...]
